html,body {
    width: 100%;
    height: 100%;
}


.header {
    width: 100%;
    height: 100px;
}

.slide {
    height: 100%;
    width: 200px;
    padding: 30px 30px;
    
}

#hehe {

    color: red;
}