<html>
<head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>default title</title>
    {% endif %}
    <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/index.css') }}">
 </head>
<body>
    <div class="header">header</div>
    <div class="slide">
            <li><a href="realTime">RealTime</a></li>
            <li><a href="charts">Charts</a></li>
            <li><a href="logs">Logs</a></li>
            <li><a href="settings">Setting</a></li>
            <li><a href="user">Profile</a></li>         
    </div>
    <div class="container">
        <table>

        </table>
    </div>
    <div class="footer">hehehe</div>

</body>
</html>
